<div class="bg-white px-8 py-3 flex items-center justify-between border-b mb-16">
<div class="flex items-center">
    <a href="/" class="text-xl font-bold mr-8">Rides</a>
    <input type="search" class="border px-4 py-1 rounded w-64" placeholder="Search for the ride">
</div>

 <div class="flex items-center">
     <a href="/rides" class="p-1  ml-3">Rides</a>
     <a href="" class="p-1  ml-3">Login</a>
     <a href="" class="p-1  ml-3">Sign up</a>
     <a href="" class="p-1  ml-3">About Us</a>
     
 </div>
</div>