<div class="max-w-6xl mx-auto mt-16">
    <header class="mb-16">
        <h1 class="text-2xl font-bold">Begin your next journey with Rides</h1>
        <p class="text-base text-gray-600">Let's make our next carpooling experience together</p>
    </header>
   
    <div class="flex flex-wrap -mx-4">
        {{ collection:rides }}
       <a href="{{ url }}" class="w-1/3 px-4 mb-12">
         <img class="rounded-lg mb-4" src="{{ glide:photo width="720" height="480" alt="{{ photo:alt }}">
         <div class="font-medium text-md"> {{ title }} </div>
         <div class="text-base text-gray-700"><b>${{ price }}</b> / per trip</div>
         <div class="font-medium text-sm text-gray-450"> {{ owners:name }} </div>
         
        
       </a>
        {{ /collection:rides }}

    </div>
</div>


<div class="class"></div>